<div class="dashboard-container">
    <div class="card" *ngFor="let card of cards">
      <i class="fas fa-ellipsis-h ellipsis-menu"></i> <!-- Three-dot menu -->
      <div class="card-content">
        <div class="icon-circle" [ngClass]="card.colorClass">
          <i [class]="card.icon"></i>
        </div>
        <div class="text-content">
          <h4>{{ card.value }}</h4>
          <p>{{ card.label }}</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let card of cards">
        <div class="card custom-card">
          <i class="fas fa-ellipsis-h ellipsis-menu"></i> <!-- Three-dot menu -->
          <div class="card-content">
            <div class="icon-circle" [ngClass]="card.colorClass">
              <i [class]="card.icon"></i>
            </div>
            <div class="text-content">
              <h4>{{ card.value }}</h4>
              <p>{{ card.label }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  