<div class="conta-fluid">
  <mat-card>
    <!-- <mat-card-header class="project-title d-flex justify-content-between align-items-center">
        <mat-card-title>Project Title</mat-card-title>
        <mat-icon>more_vert</mat-icon>
    </mat-card-header> -->
    <div
      class="project-title d-flex justify-content-between align-items-center px-3"
    >
      <mat-card-title>Project Title</mat-card-title>
      <mat-icon>more_vert</mat-icon>
    </div>
    <mat-card-content>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center px-3 mt-1 gap-2">
          
          <!-- Description -->
          <div>
            <span class="fw-semibold">Description:</span> <span>Angular Task</span>
          </div>
      
          <!-- Status -->
          <div class="status d-flex align-items-center p-1">
            open
          </div>
      
          <!-- Progress Bar -->
          <div>
            <img src="../../assets/progressbar.png" alt="progress bar" class="img-fluid" />
          </div>
      
        </div>
      </mat-card-content>
      
  </mat-card>
</div>
