.leave-count {
    background-color: rgb(6, 197, 6);
    border-radius: 50%;
    height: 42px; /* Adjust size of the circle */
    width: 43px; /* Adjust size of the circle */
    padding: 11px; /* Adjust padding for the circle */
    vertical-align: middle;
  }