<div>
  <h2>Hi John!!!</h2>
  <div>Summary</div>

  <div class="flex flex-col lg:flex-row items-center justify-around gap-4 p-4 sm:p-6">
    <div class="w-full lg:w-[600px] rounded overflow-hidden shadow-lg bg-white p-6">
      <div class="flex flex-row w-full items-center justify-around">
        <span>Total Leave</span>
        <span class="leave-count mx-4">45</span>
        <span class="line" style="width: 1px; height: 40px; background-color: #ccc"></span>
        <span class="ml-2">Balance Leave</span>
        <span class="leave-count mx-4">45</span>
      </div>
    </div>
    <div class="w-full max-w-md rounded overflow-hidden shadow-lg bg-white p-6">
  
    </div>
  </div>
  <div class="container py-4">
    <div class="row flex-lg-row flex-column align-items-center justify-content-around g-4 m-3">
      <div class="col-12 col-lg-6 bg-white rounded shadow-lg p-4">
        <div class="d-flex justify-content-around align-items-center">
          <span>Total Leave</span>
          <span class="mx-3 leave-count">45</span>
          <span class="line" style="width: 1px; height: 40px; background-color: #ccc"></span>
          <span class="ml-2">Balance Leave</span>
          <span class="mx-3 leave-count">45</span>
        </div>
      </div>
      <div class="col-12 col-lg-4 bg-white rounded shadow-lg p-4">
        <!-- Additional content here -->
      </div>
    </div>
  </div>
  
  
  
</div>
