<!-- <app-parent></app-parent>

<app-child></app-child> -->

<!-- <button mat-raised-button color="primary" (click)="openModal()">Open Modal</button> -->

<!-- <h1>To-Do List</h1>
<form [formGroup]="taskForm" >
  <input type="text" formControlName="task" placeholder="Enter a new Task" />
  <button type="button" [disabled]="taskForm.invalid" (click)="addTasks()">Add Task</button>
</form>

<ul>
    <li  *ngFor="let task of tasks;let i = index;">
        <span [class.completed]="task.completed">{{task.name}}

        </span>
        <button (click)="toggleComplete(i)">Complete</button>
        <button (click)="deleteTasks(i)">Delete</button>
    </li>
</ul> -->
<!-- <h1>Employee Directory</h1>
<input type="text" [(ngModel)]="searchText" placeholder="Search by name..." />

<ul>
  <li *ngFor="let employee of employees">
    <h3>{{ employee.name }}</h3>
    <p>{{ employee.title }}</p>
    <p>{{ employee.email }}</p>
  </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-snake-game></app-snake-game> -->
<!-- <app-item-list></app-item-list> -->

<!-- <app-leave-dashboard-design></app-leave-dashboard-design> -->
<!-- <app-item-list-tailwind></app-item-list-tailwind> -->

   <!-- <app-todo-list></app-todo-list> -->

   <!-- <app-calculator></app-calculator> -->
   <!-- <app-quiz></app-quiz> -->
   <!-- <app-budget-tracker></app-budget-tracker> -->

   <!-- <app-data-manipulation></app-data-manipulation> -->

   <app-practice></app-practice>
   <!-- <app-habit-tracker></app-habit-tracker> -->

   <!-- <div #container></div>
   <button (click)="createModal()">Create Modal</button>
   <p appHighlight highlightColor="lightblue">Hover over me to see the effect!</p> -->
   <!-- <app-design></app-design> -->

   <!-- <app-snake-game></app-snake-game> -->

   <!-- <app-dynamic-table></app-dynamic-table> -->

   <!-- <app-real-time-search></app-real-time-search> -->
   <!-- <app-dependent-dropdowns></app-dependent-dropdowns> -->
   <!-- <app-file-upload></app-file-upload> -->
   <!-- <app-testimonial-carousel></app-testimonial-carousel> -->

   <!-- <app-complex-dashboard></app-complex-dashboard> -->
   <!-- <app-todo></app-todo> -->

   <!-- <app-voting-dashboard></app-voting-dashboard> -->
    <!-- <app-chat-history></app-chat-history> -->

    <!-- <div style="display: flex; gap: 2rem;">
      <app-product-list></app-product-list>
      <app-cart></app-cart>
    </div> -->

    <!-- <app-dynamic-form></app-dynamic-form> -->

    <!-- <app-dynamic-form></app-dynamic-form> -->

    <!-- <app-search-filter></app-search-filter> -->

    <!-- <app-data-manipulation></app-data-manipulation> -->
    <!-- <app-complex-dashboard></app-complex-dashboard> -->

    <!-- <app-user-list></app-user-list>
    <app-post-list></app-post-list> -->

    <!-- <app-sidebar></app-sidebar> -->
    <!-- <app-design-practice></app-design-practice> -->
    <!-- <app-table [columns]="displayedColumns" [dataSource]="data"></app-table> -->
    <app-side-nav></app-side-nav>