ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  

  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  
  nav a.active {
    font-weight: bold;
    color: blue;
  }
  