<!-- <div class="container">
  <div class="row m-2 text-center justify-content-center">
    <div class="card col-5 mx-2">
      <div class="d-flex justify-content-center align-items-center">
        <span class="">Total &nbsp; Leave</span>
        <span class="leave-count ">45</span>
      </div>
      <div
        class="line"
        style="width: 1px; height: 40px; background-color: #ccc"
      ></div>
      <div class="d-flex justify-content-center align-items-center">
        <span class="col-3">Total &nbsp; Leave</span>
        <span class="leave-count  col-1">45</span>
      </div>
    </div>

    <div class="card col-5 mx-2">jhjh</div>
  </div>
</div> -->

<div class="container flex flex-wrap justify-center items-center space-x-4 m-3">
  <!-- First Card -->
  <div class="card p-4 border rounded shadow-md">
    <!-- Group 1 -->
    <div class="flex flex-wrap sm:flex-row sm:items-center sm:space-x-4">
      <div class="sm:flex-row  items-center flex flex-col m-2">
        <div class="">Total &nbsp; Leave</div>
        <div class="leave-count">45</div>
      </div>
      <div class="w-px h-10 line"></div>
      <div class="sm:flex-row  items-center  flex flex-col m-2">
        <div class=" ">Balance &nbsp; Leave</div>
        <div class="leave-count ml-3">45</div>
      </div>
    </div>
    
  </div>

  <!-- Second Card -->
  <div class="card p-4 border rounded shadow-md">
    <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-4">
      <div class="flex flex-col items-center">
        <span>Total &nbsp; Leave</span>
        <span class="leave-count">45</span>
      </div>
    </div>
  </div>
</div>


