<div class="container mt-4">
    <h2 class="text-center mb-4">Habit Tracker</h2>
    <form class="mb-4" (submit)="addHabit()">
        <div class="row">
            <div class="clo-md-8">
                <input type="text" class="form-control"  placeholder="Enter Habit (e.g., Exercise, Read)"
                [(ngModel)]="newHabit"
                name="habit"
                required>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Add Habit</button>
        </div>
    </form>
</div>

<div class="card" *ngFor="let habit of habits;let i = index;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
                <h5>{{habit.name}}</h5>
                <button class="btn btn-danger btn-sm" (click)="deleteHabit(i)"></button>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="d-flex gap-2">
                <button *ngFor="let day of habit.days;let dayIndex = index" class="btn" [ngClass]="{'btn-success':day,'btn-outline-secondary':!day}" (click)="toggleDay(i,dayIndex)">{{dayIndex +  1}}</button>
            </div>
            <span>Streak: {{ habit.streak }}</span>
        </div>
    </div>
</div>
